<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.nuaa.my"
    android:versionCode="@integer/version_code"
    android:versionName="@string/version_name">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="cn.edu.nuaa.my.app.ClanApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="cn.edu.nuaa.my.guide.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <action android:name="android.intent.action.BADGE_COUNT_UPDATE" />
            </intent-filter>

        </activity>

        <activity
            android:name="cn.edu.nuaa.my.main.qqstyle.QQStyleMainActivity"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/forum_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.main.sliding.SlidingStyleMainActivity"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/forum_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.main.wechatstyle.WeChatStyleMainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/forum_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarThemeYellowTabPageIndicator" />

        <activity
            android:name="cn.edu.nuaa.my.main.bottomtab.BottomTabMainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/forum_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name="cn.edu.nuaa.my.main.android.PureAndroidMainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/forum_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />


        <activity
            android:name="cn.edu.nuaa.my.login.LoginActivity"
            android:label="@string/login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name="cn.edu.nuaa.my.login.BindActivity"
            android:label="@string/bind_account"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name="cn.edu.nuaa.my.login.WebLoginActivity"
            android:hardwareAccelerated="true"
            android:label="@string/login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name="cn.edu.nuaa.my.login.RegisterActivity"
            android:label="@string/register"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.login.CallBackWebActivity"
            android:hardwareAccelerated="true"
            android:label="@string/register"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.login.YZLoginActivity"
            android:label="@string/yz_login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.message.pm.MyPMActivityOld"
            android:label="@string/my_pm"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.message.pm.MyPMActivity"
            android:label="@string/my_pm"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.myfav.MyFavActivity"
            android:label="@string/my_favories"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme.Tab.Small" />

        <activity
            android:name="cn.edu.nuaa.my.article.ArticleListActivity"
            android:label="@string/article_list"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.article.ArticleDetailActivity"
            android:hardwareAccelerated="true"
            android:label="@string/article_detail"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.thread.detail.ThreadDetailActivity"
            android:hardwareAccelerated="true"
            android:label="@string/thread_detail"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.thread.ThreadReplyActivity"
            android:label="@string/thread_reply"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.profile.thread.OwnerThreadActivity"
            android:label="@string/my_thread"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme.Tab.Small" />
        <activity
            android:name="cn.edu.nuaa.my.profile.thread.MyThreadActivity"
            android:label="@string/my_thread"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme.Tab.Small" />
        <!--<activity-->
        <!--android:name=".profile.thread.OthersThreadActivity"-->
        <!--android:label="@string/my_thread"-->
        <!--android:launchMode="singleTop"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/ActionBarTheme.Tab.Small" />-->
        <activity
            android:name="cn.edu.nuaa.my.profile.homepage.HomePageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.message.pm.ChatActivity"
            android:label="@string/thread_detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.forum.ForumActivity"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.forum.ForumTypeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.thread.ThreadNewActivity"
            android:label="@string/new_thread"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.thread.ThreadReportActivity"
            android:label="@string/report"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name="cn.edu.nuaa.my.thread.ThreadPublishActivity"
            android:label="@string/new_thread"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name="cn.edu.nuaa.my.thread.deal.ThreadDealActivity"
            android:label="@string/default_value"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.common.images.PicSelectorActivity"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.common.images.ImagesLookerActivity"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.app.WebActivity"
            android:hardwareAccelerated="true"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.video.VideoPlayWebActivity"
            android:hardwareAccelerated="true"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="cn.edu.nuaa.my.setting.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.app.AboutActivity"
            android:label="@string/about"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />


        <activity
            android:name="cn.edu.nuaa.my.setting.supersetting.SuperSettingsActivity"
            android:label="@string/super_settings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme.Tab.Small" />

        <activity
            android:name="cn.edu.nuaa.my.search.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name="cn.edu.nuaa.my.friends.FriendsActivity"
            android:label="@string/my_friends_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.friends.AddFriendsActivity"
            android:label="@string/add_friends_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.friends.SearchFriendsActivity"
            android:label="@string/search_friends"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="cn.edu.nuaa.my.friends.NewFriendsActivity"
            android:label="@string/new_friends_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.friends.ApplyFriendsActivity"
            android:label="@string/apply_friends_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name="cn.edu.nuaa.my.act.apply.ActApplyActivity"
            android:label="@string/apply_act_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name="cn.edu.nuaa.my.act.publish.ActPublishActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.act.publish.ActSelectTypeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="cn.edu.nuaa.my.act.manage.ActManageActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name="cn.edu.nuaa.my.main.bottomtab.MenuJumpActivity"
            android:label="@string/default_value"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <!-- ShareSDK start -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="com.kit.share.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="cn.edu.nuaa.my.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ShareSDK end -->


        <!-- imagelib start -->
        <activity
            android:name="com.kit.imagelib.HostActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kit.imagelib.photoselector.PicSelectActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="com.kit.imagelib.imagelooker.ImageBrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kit.imagelib.imagelooker.ImagesLookerActivity"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name="com.kit.imagelib.banner.MainActivity"
            android:label="@string/default_value"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />


        <activity
            android:name="com.kit.widget.selector.selectonefromlist.SelectOneFromListActivity"
            android:label="@string/default_value"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <!-- imagelib end -->


        <!-- analysisSDK Start -->
        <meta-data
            android:name="SHARESDK_APPKEY"
            android:value="${SHARESDK_APPKEY}" />
        <meta-data
            android:name="SHARESDK_CHANNEL"
            android:value="${SHARESDK_CHANNEL}" />

        <!-- service 用于保证一定能够向服务器上传数据 -->
        <service
            android:name="cn.sharesdk.server.RemoteService"
            android:process=":remote" />
        <!-- 用户反馈的页面 ConversationActivity,反馈联系人页面 ContactActivity -->
        <activity android:name="cn.sharesdk.feedback.ConversationActivity" />
        <activity android:name="cn.sharesdk.feedback.ContactActivity" />
        <!-- analysisSDK End -->

        <service android:name="cn.edu.nuaa.my.app.service.ClanService" />
        <service
            android:name="cn.edu.nuaa.my.forum.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>
        <service android:name="cn.edu.nuaa.my.forum.DemoIntentService"/>
    </application>

    <uses-library android:name="com.google.android.browser" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <!-- ZUK角标 -->
    <uses-permission android:name="android.permission.READ_APP_BADGE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

</manifest>
